
# Daily Jobs
15 00 * * * . /etc/profile; crontab ${HOME}/local/script/crontab > /dev/null 2>&1
05 01 * * * . /etc/profile; sh ${HOME}/local/script/update.sh > /dev/null 2>&1

# 05 02 * * * sh ${HOME}/local/script/docker/tiddlywiki.sh > /dev/null 2>&1

08 18 * * * sh /scratch/noclean/canghaiv2_t_scratch/user/mxiong/PN99/test/tvg/files/vcs_files/build/dut/run_vcs64.bsub > /dev/null 2>&1
